# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Coverage
lcov.info
coverage/

# Node modules (if using npm for additional tools)
node_modules/

# IDE
.idea/
.vscode/

# OS
.DS_Store
